* {
	box-sizing: border-box;
}

body{

	background: orange;
	font-family: sans-serif;
}

h1{
	font-size: 3em;
}

p{
	width: 100%;
	margin: 100px;
	font-size: 5em;
}

.main{	
	width: 100%;
	margin: 250px auto;	
}

.space{
	line-height: 3em;
}

.space-out{
	line-height: 6em;
}

#green{
	color: #7FFF00;
	font-weight: normal;
	font-style: normal;
}

#four-hundred{
	font-weight: 400;
}

#two-hundred{
	font-weight: 200;
}

#capitalize{
	text-transform: capitalize;
	font-weight: 700;
}

#uppercase{
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 2em;
}

#lowercase{
	text-transform: lowercase;
	font-weight: lighter;
	font-size: 1em;
}

.center{
	text-align: center;
	padding: 20px;
}

#underline{
	text-decoration: underline;
	font-size: 3em;
	font-weight: 700;
}

#overline{
	text-decoration: overline;
	font-size: 3em;
	font-weight: 700;
}

#line-through{
	text-decoration: line-through;
	font-size: 3em;
	font-weight: 700;
}
